.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
}

.top-right a {
    text-decoration: none;
    color: blue;
    background-color: lightgray;
    padding: 8px 12px;
    border-radius: 5px;
}

.top-right a:hover {
    background-color: darkgray;
}

th a {
    text-decoration: none;
    color: black;
}

th a.asc:after {
    content: ' ▲';
}

th a.desc:after {
    content: ' ▼';
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #000;
}

.modal.active {
    display: block;
}