<!-- templates/leveraged_farming.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leveraged Farming</title>
    <style>
        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 2px solid #000
        }

        .modal.active {
            display: block
        }
    </style>
</head>
<body>
    <!-- Botton for Main Menu -->
    <a href="{{ url_for('main_menu') }}">Back to Main Menu</a>

    <h1>Leveraged Farming</h1>
    
    <!-- Button to open add farming modal -->
    <button id="add-farming-btn">Add Leverage Farming Position</button>

    <div id="add-farming-modal" class="modal">
        <h2>Add New Staked Position</h2>
        <form action="{{ url_for('add_leveraged_farming') }}" method="post">
            <label for="pool">Pool:</label>
            <input type="text" id="pool" name="pool" required><br>
            <label for="token-a">Token A:</label>
            <input type="text" id="token-a" name="token-a" required><br>
            <label for="token-b">Token B:</label>
            <input type="text" id="token-b" name="token-b" required><br>
            <label for="holdings-a">Holdings A:</label>
            <input type="number" id="holdings-a" name="holdings-a" step="any" required><br>
            <label for="holdings-b">Holdings B:</label>
            <input type="number" id="holdings-b" name="holdings-b" step="any" required><br>
            <label for="debt_a">Debt A:</label>
            <input type="number" id="debt-a" name="debt-a" step="any" required><br>
            <label for="debt-b">Debt B:</label>
            <input type="number" id="debt-b" name="debt-b" step="any" required><br>
            <label for="protocol">Protocol:</label>
            <label for="deposited-amount-a">Deposited Amount A:</label>
            <input type="number" id="deposited-amount-a" name="deposited-amount-a" step="any" required><br>
            <label for="deposited-amount-b">Deposited Amount B:</label>
            <input type="number" id="deposited-amount-b" name="deposited-amount-b" step="any" required><br>
            <input type="text" id="protocol" name="protocol" required><br>
            <label for="chain">Chain:</label>
            <input type="text" id="chain" name="chain" required><br>
            <button type="submit">Submit</button>
        </form>
        <button id="close-modal-btn">Close</button>
    </div>

    <h2>Current Leveraged Farming Positions</h2>
    <table>
        <tr>
            <th>Pool</th>
            <th>Token A</th>
            <th>Token B</th>
            <th>Holdings A</th>
            <th>Holdings B</th>
            <th>Debt A</th>
            <th>Debt B</th>
            <th>Value A</th>
            <th>Value B</th>
            <th>Total Value</th>
            <th>Protocol</th>
            <th>Chain</th>
            <th>Deposited Amount A</th>
            <th>Deposited Amount B</th>
            <th>% of Total</th>
        </tr>
        {% for row in leveraged_farming_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
            <td>{{ row[13] }}</td>
            <td>{{ row[14] }}</td>
            <td>{{ row[15] }}</td>
            <td>{{ row[16] }}%</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Total Leveraged Farming Value: {{ total_value }}</h3>
</body>
</html>