<!-- templates/staking.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staking</title>
    <style>
        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 2px solid #000
        }

        .modal.active {
            display: block
        }
    </style>
</head>
<body>
    <h1>Staking</h1>

    <!-- Button to open add staking modal -->
    <button id="add-staking-btn">Add Staked Position</button>

    <div id="add-staking-modal" class="modal">
        <h2>Add New Staked Position</h2>
        <form id="add-staking-form" action="/add_staking" method="POST">
            <label for="token">Token:</label>
            <input type="text" id="token" name="token" required><br><br>
            <label for="holdings">Holdings:</label>
            <input type="number" id="holdings" name="holdings" step="any">
            <label for="deposited-amount">Deposited Amount:</label>
            <input type="number" id="deposited-amount" name="deposited-amount" required><br><br>
            <label for="project">Project:</label>
            <input type="text" id="project" name="project" required><br><br>
            <label for="chain">Chain:</label>
            <input type="text" id="chain" name="chain" required><br><br>
            <button type="submit">Submit</button>
        </form>
        <button id="close-modal-btn">close</button>
    </div>

    <table>
        <tr>
            <th><a href="{{ url_for('staking', sort_by='Token', order=order) }}" class="{{ order if sort_by == 'Token' else '' }}">Token</a></th>
            <th><a href="{{ url_for('staking', sort_by='Token', order=order) }}" class="{{ order if sort_by == 'Price' else '' }}">Price</a></th>
            <th><a href="{{ url_for('staking', sort_by='Token', order=order) }}" class="{{ order if sort_by == 'Holdings' else '' }}">Holdings</a></th>
            <th><a href="{{ url_for('staking', sort_by='Token', order=order) }}" class="{{ order if sort_by == 'Value' else '' }}">Value</a></th>
            <th><a href="{{ url_for('staking', sort_by='Token', order=order) }}" class="{{ order if sort_by == 'DepositedAmount' else '' }}">Deposited Amount</a></th>
            <th><a href="{{ url_for('staking', sort_by='Token', order=order) }}" class="{{ order if sort_by == 'Project' else '' }}">Project</a></th>
            <th><a href="{{ url_for('staking', sort_by='Token', order=order) }}" class="{{ order if sort_by == 'Chain' else '' }}">Chain</a></th>
        </tr>
        {% for row in staking_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Total Staking Value: {{ total_value }}</h3>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addStakingBtn = document.getElementById('add-staking-btn');
        const stakingModal = document.getElementById('add-staking-modal');
        const closeStakingBtn = document.getElementById('close-modal-btn');

        addStakingBtn.addEventListener('click', () => {
            stakingModal.classList.add('active');
        });

        closeStakingBtn.addEventListener('click', () => {
            stakingModal.classList.remove('active');
        });

        document.getElementById('add-staking-form').addEventListener('keypress', (e) => {
            if (e.key === 'enter') {
                e.preventDefault();
                document.getElementById('add-staking-form').submit();
            }
        });
    });
</script>
</html>