<!-- templates/staking.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staking</title>
    <style>
        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 2px solid #000
        }

        .modal.active {
            display: block
        }
    </style>
</head>
<body>
    <!-- Botton for Main Menu -->
    <a href="{{ url_for('main_menu') }}">Back to Main Menu</a>

    <h1>Staking</h1>

    <!-- Button to open add staking modal -->
    <button id="add-staking-btn">Add Staked Position</button>

    <div id="add-staking-modal" class="modal">
        <h2>Add New Staked Position</h2>
        <form id="add-staking-form" action="{{url_for('staking_routes.add_staking')}}" method="POST">
            <label for="Pool">Pool:</label>
            <input type="text" id="pool" name="pool" required><br><br>
            <label for="token">Token:</label>
            <input type="text" id="token" name="token" required><br><br>
            <label for="holdings">Holdings:</label>
            <input type="number" id="holdings" name="holdings" step="any" required><br><br>
            <label for="deposited-amount">Deposited Amount:</label>
            <input type="number" id="deposited-amount" name="deposited-amount" step="any" required><br><br>
            <label for="project">Project:</label>
            <input type="text" id="project" name="project" required><br><br>
            <label for="chain">Chain:</label>
            <input type="text" id="chain" name="chain" required><br><br>
            <button type="submit">Submit</button>
        </form>
        <button id="close-modal-btn">close</button>
    </div>

    <div id="edit-staking-modal" class="modal">
        <h2>Edit Staked Position</h2>
        <form id="edit-staking-form" action="{{ url_for('staking_routes.edit_staking') }}" method="POST">
            <label for="edit-pool">Pool:</label>
            <input type="text" id="edit-pool" name="pool" required><br><br>
            <input type="hidden" id="edit-token" name="token">
            <label for="edit-holdings">Holdings:</label>
            <input type="number" id="edit-holdings" name="holdings" step="any" required><br><br>
            <label for="edit-deposited-amount">Deposited Amount:</label>
            <input type="number" id="edit-deposited-amount" name="deposited-amount" step="any" required><br><br>
            <button type="submit">Update</button>
        </form>
        <button id="close-edit-modal-btn">Close</button>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th><a href="{{ url_for('staking_routes.staking', sort_by='Token', order=order) }}" class="{{ order if sort_by == 'Token' else '' }}">Token</a></th>
                <th><a href="{{ url_for('staking_routes.staking', sort_by='Price', order=order) }}" class="{{ order if sort_by == 'Price' else '' }}">Price</a></th>
                <th><a href="{{ url_for('staking_routes.staking', sort_by='Holdings', order=order) }}" class="{{ order if sort_by == 'Holdings' else '' }}">Holdings</a></th>
                <th><a href="{{ url_for('staking_routes.staking', sort_by='Value', order=order) }}" class="{{ order if sort_by == 'Value' else '' }}">Value</a></th>
                <th><a href="{{ url_for('staking_routes.staking', sort_by='DepositedAmount', order=order) }}" class="{{ order if sort_by == 'DepositedAmount' else '' }}">Deposited Amount</a></th>
                <th><a href="{{ url_for('staking_routes.staking', sort_by='Project', order=order) }}" class="{{ order if sort_by == 'Project' else '' }}">Project</a></th>
                <th><a href="{{ url_for('staking_routes.staking', sort_by='Chain', order=order) }}" class="{{ order if sort_by == 'Chain' else '' }}">Chain</a></th>
                <th>% of Total</th>
            </tr>
        </thead>
        <tbody>
            {% for coin, percent in staking_data %}
            <tr>
                <td><a href="#" class="edit-link" 
                       data-pool="{{coin.pool}}"
                       data-token="{{coin.token}}" 
                       data-holdings="{{ coin.holdings }}" 
                       data-deposited="{{ coin.deposited_amount }}">{{ coin.token }}</a></td>
                <td>{{ coin.price }}</td>
                <td>{{ coin.holdings }}</td>
                <td>{{ coin.value }}</td>
                <td>{{ coin.deposited_amount }}</td>
                <td>{{ coin.project }}</td>
                <td>{{ coin.chain }}</td>
                <td>{{ "%.2f"|format(percent) }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="totals">
        <h3>Total Staking Value: {{ total_staking_value }}</h3>
        <h3>Total Portfolio Value: {{ total_value }}</h3>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addStakingBtn = document.getElementById('add-staking-btn');
        const stakingModal = document.getElementById('add-staking-modal');
        const closeStakingBtn = document.getElementById('close-modal-btn');
        const editStakingModal = document.getElementById('edit-staking-modal');
        const closeEditStakingBtn = document.getElementById('close-edit-modal-btn')
        const editLinks = document.querySelectorAll('.edit-link');

        addStakingBtn.addEventListener('click', () => {
            stakingModal.classList.add('active');
        });

        closeStakingBtn.addEventListener('click', () => {
            stakingModal.classList.remove('active');
        });

        closeEditStakingBtn.addEventListener('click', () => {
            editStakingModal.classList.remove('active');
        });

        editLinks.forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();
                const token = e.target.dataset.token;
                const pool = e.target.dataset.pool;
                const holdings = e.target.dataset.holdings;
                const deposited = e.target.dataset.deposited;

                document.getElementById('edit-token').value = token;
                document.getElementById('edit-pool').value = pool;
                document.getElementById('edit-holdings').value = holdings;
                document.getElementById('edit-deposited-amount').value = deposited;
                editStakingModal.classList.add('active');
            });
        });

        document.getElementById('add-staking-form').addEventListener('keypress', (e) => {
            if (e.key === 'enter') {
                e.preventDefault();
                document.getElementById('add-staking-form').submit();
            }
        });

        document.getElementById('edit-staking-form').addEventListener('keypress', (e) => {
            if (e.key === 'enter') {
                e.preventDefault();
                document.getElementById('edit-staking-form').submit();
            }
        });
    });
</script>
</html>