<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- Botton for Main Menu -->
    <a href="{{ url_for('main_menu') }}">Back to Main Menu</a>

    <h1>Wallet</h1>
    <!-- Button to open Add Token modal -->
    <button id="token_btn">Add Token</button>

    <!-- Add Token Modal HTML -->
    <div id="token_modal" class="modal">
        <h2 id="modal_title">Add/Update Token</h2>
        <form id="token_form" action="{{ url_for('wallet_routes.update_token')}}" method="POST">
            <div id="token_name_container">
                <label for="token_name">Token Name:</label>
                <input type="text" id="token_name" name="token_name" required><br><br>
            </div>
            <label for="holdings">Holdings:</label>
            <input type="number" step="any" id="holdings" name="holdings" required><br><br>
            <button type="submit">Submit</button>
        </form>
        <button id="close_modal">Close</button>
    </div>

    <a href="{{ url_for('wallet_routes.update_wallet_and_prices')}}">Update Wallet and Prices</a>

    
    <table border="1" id="wallet_table">
        <thead>
            <tr>
                <th>
                    <a href="{{ url_for('wallet_routes.wallet', sort_by='Token', order=order)}}"
                    class="{{ 'asc' if sort_by == 'Token' and order == 'asc' else 'desc' if sort_by == 'Token' else '' }}">
                    Token
                    </a>
                </th>
                <th>
                    <a href="{{ url_for('wallet_routes.wallet', sort_by='Price', order=order)}}"
                    class="{{ 'asc' if sort_by == 'Price' and order == 'asc' else 'desc' if sort_by == 'Price' else '' }}">
                    Price
                    </a>
                </th>
                <th>
                    <a href="{{ url_for('wallet_routes.wallet', sort_by='Holdings', order=order)}}"
                    class="{{ 'asc' if sort_by == 'Holdings' and order == 'asc' else 'desc' if sort_by == 'Holdings' else '' }}">
                    Holdings
                    </a>
                </th>
                <th>
                    <a href="{{ url_for('wallet_routes.wallet', sort_by='Value', order=order)}}"
                    class="{{ 'asc' if sort_by == 'Value' and order == 'asc' else 'desc' if sort_by == 'Value' else '' }}">
                    Value
                    </a>
                </th>
                <th>
                    % of Total
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item, percent in wallet_data %}
            <tr>
                <td><a href="#" class="update_link" data-token="{{ item.token }}">{{ item.token }}</a></td>
                <td>{{ item.price }}</td>
                <td>{{ item.holdings }}</td>
                <td>{{ item.value }}</td>
                <td>{{ "%.2f"|format(percent) }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Wallet Value: {{ total_value }}</h3>
    <h3>Total Portfolio Value: {{ total_portfolio_value }}</h3>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {

    
        // Add Token Modal logic
        const tokenModal = document.getElementById('token_modal');
        const addUpdateTokenBtn = document.getElementById('token_btn');
        const modalTitle = document.getElementById('modal_title');
        const tokenNameContainer = document.getElementById('token_name_container');
        const tokenNameInput = document.getElementById('token_name')
        const closeButton = document.getElementById('close_modal');
        const updateLinks = document.querySelectorAll('.update_link');

        function showModal(isUpdate, tokenName=''){
            if (isUpdate) {
                modalTitle.textContent = 'Update Token Holdings';
                tokenNameContainer.innerHTML = `<p><strong>Token Name:</strong> ${tokenName}</p>`;
                tokenNameInput.value = tokenName;
            } else {
                modalTitle.textContent = 'Add New Token';
                tokenNameContainer.innerHTML = `
                    <label for="token_name">Token Name:</label>
                    <input type="text" id="token_name" name="token_name" required>
                `;
                tokenNameInput.value = '';
            }
            document.getElementById('holdings').value = ''
            tokenModal.classList.add('active');
        }

        addUpdateTokenBtn.addEventListener('click', () => {
            showModal(false);
        });

        closeButton.addEventListener('click', () => {
            console.log("Close Add Token modal");
            tokenModal.classList.remove('active');
        });

        updateLinks.forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();
                const tokenName = link.getAttribute('data-token');
                showModal(true, tokenName);
            })
        })

        window.addEventListener('click', (e) => {
            if (e.target == tokenModal) {
                tokenModal.classList.remove('active');
            }
        })

        // Allow the Enter key to submit the Form
        document.getElementById('token_form').addEventListener('keypress', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault();
                document.getElementById('token_form').submit();
            }
        });
    });
</script>
</html>
